$level-1-number: counter(level-0-counter) "." counter(level-1-counter) ". ";
$level-2-number: counter(level-0-counter) "." counter(level-1-counter) "." counter(level-2-counter) ". ";
$level-3-number: counter(level-0-counter) "." counter(level-1-counter) "." counter(level-2-counter)  "." counter(level-3-counter)  ". "; 

#fc-pdf-toc {
    tr.level-0 {
        counter-increment:level-0-counter;
        counter-reset: level-1-counter;
        a::before {
            content: counter(level-0-counter) ". ";
        }
        a {
            string-set: level-0-title content();
        }
    }
    tr.level-1.chaptered {
        counter-increment:level-1-counter;
        counter-reset: level-2-counter;
        a::before {
            content: $level-1-number;
        }
        a {
            string-set: level-1-title content();
        }
    }
    tr.level-2.chaptered {
        counter-increment:level-2-counter;
        counter-reset: level-3-counter;
        a::before {
            content: $level-2-number;
        }
    }
    tr.level-3.chaptered {
        counter-increment:level-3-counter;
        a::before {
            content: $level-3-number;
        }
    }
}
