@charset "UTF-8";
/* /project/mkdocs-docs/matrix/10-mkdocs-template-base/1010-root-variables/print.scss */
:root {
  --color-text-default: #333;
  --color-primary: hsl(202, 79%, 63%);
  --color-primary-light: hsl(202, 79%, 80%);
  --color-primary-dark: hsl(202, 79%, 45%);
  --color-background-code: #e9ecef;
}

/* /project/mkdocs-docs/matrix/10-mkdocs-template-base/1020-fonts/print.scss */
@font-face {
  font-family: SansSerif;
  font-weight: 400;
  src: url("/project/mkdocs-docs/matrix/10-mkdocs-template-base/1020-fonts/firasans-regular.otf");
}
@font-face {
  font-family: SansSerifItalic;
  font-style: italic;
  font-weight: 400;
  src: url("/project/mkdocs-docs/matrix/10-mkdocs-template-base/1020-fonts/firasans-italic.otf");
}
@font-face {
  font-family: SansSerifLight;
  font-weight: 300;
  src: url("/project/mkdocs-docs/matrix/10-mkdocs-template-base/1020-fonts/firasans-light.otf");
}
@font-face {
  font-family: SansSerifLightItalic;
  font-style: italic;
  font-weight: 300;
  src: url("/project/mkdocs-docs/matrix/10-mkdocs-template-base/1020-fonts/firasans-lightitalic.otf");
}
@font-face {
  font-family: SansSerifBold;
  font-weight: 600;
  src: url("/project/mkdocs-docs/matrix/10-mkdocs-template-base/1020-fonts/firasans-bold.otf");
}
@font-face {
  font-family: Monospace;
  font-weight: 400;
  src: url("/project/mkdocs-docs/matrix/10-mkdocs-template-base/1020-fonts/firamono-regular.ttf");
}
@font-face {
  font-family: MonospaceBold;
  font-weight: 500;
  src: url("/project/mkdocs-docs/matrix/10-mkdocs-template-base/1020-fonts/firamono-medium.ttf");
}
/* /project/mkdocs-docs/matrix/10-mkdocs-template-base/1030-pages/print.scss */
html {
  break-before: left;
}

span.wpmr-pdf-page-break {
  display: block;
  page-break-after: always;
}

@page {
  size: A4;
  margin: 2cm;
  margin-top: 2.5cm;
  @top-left {
    content: string(chapter-title);
    font-size: 9pt;
    height: 1cm;
    vertical-align: middle;
    width: 100%;
    margin-bottom: 0.35cm;
  }
  @top-center {
    content: "";
    display: block;
    border-bottom: 2px solid;
    border-bottom-color: var(--color-primary);
    width: 100%;
    margin-bottom: 0.5cm;
  }
  @top-right {
    content: string(section-title);
    font-size: 9pt;
    height: 1cm;
    vertical-align: middle;
    width: 100%;
    margin-bottom: 0.35cm;
  }
  @bottom-center {
    background-color: var(--color-primary);
    color: white;
    content: counter(page);
    height: 1cm;
    text-align: center;
    width: 1cm;
    margin-top: 0.25cm;
  }
}
@page chapter {
  background-color: whitesmoke;
  @top-right {
    content: none;
  }
  @top-center {
    content: none;
  }
  @top-left {
    content: none;
  }
  @bottom-left {
    content: none;
  }
  @bottom-center {
    content: none;
  }
  @bottom-right {
    content: none;
  }
}
@page :blank {
  background-color: whitesmoke;
  @top-right {
    content: none;
  }
  @top-center {
    content: none;
  }
  @top-left {
    content: none;
  }
  @bottom-left {
    content: none;
  }
  @bottom-center {
    content: none;
  }
  @bottom-right {
    content: none;
  }
}
/* /project/mkdocs-docs/matrix/10-mkdocs-template-base/1040-structure-heading/print.scss */
html {
  color: var(--color-text-default);
  font-family: SansSerif;
  font-size: 11pt;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.wpmr-pdf-structure-chapter, .wpmr-pdf-page-chapter {
  margin: 0;
  padding: 0;
}

.wpmr-pdf-page-chapter {
  break-before: left;
  break-after: always;
  page: chapter;
}

.wpmr-pdf-page-chapter h1 {
  position: relative;
  top: -100cm;
  string-set: chapter-title content();
}

.wpmr-pdf-page-chapter-title {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -2cm;
  left: -2cm;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.wpmr-pdf-page-chapter-title span {
  display: block;
  background-color: var(--color-primary-dark);
  color: white;
  font-size: 34pt;
  text-align: center;
  margin: 0;
  padding: 10pt;
  width: 100%;
  content: chapter-title;
  font-family: SansSerifBold;
}

.wpmr-pdf-page-section h1 {
  break-before: always;
  color: var(--color-primary);
  font-size: 30pt;
  margin: 0;
  page: section;
  width: 100%;
  string-set: section-title content();
}

h1 {
  font-family: SansSerifBold;
  font-weight: 600;
}

h2, h3, h4 {
  color: black;
  font-weight: 400;
}

h2 {
  font-size: 20pt;
}

h3 {
  font-family: SansSerif;
  font-size: 15pt;
}

h4, h5, h6 {
  font-family: SansSerifBold;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

h4 {
  font-size: 13pt;
}

h5 {
  font-size: 12pt;
}

h6 {
  font-size: 11pt;
}

h4 + * {
  margin-top: 0.5rem;
}

h5 + * {
  margin-top: 0.5rem;
}

h6 + * {
  margin-top: 0.5rem;
}

/* /project/mkdocs-docs/matrix/10-mkdocs-template-base/1045-content/print.scss */
a {
  color: var(--color-primary);
  text-decoration: none;
}

strong {
  font-family: SansSerifBold;
}

figure {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  break-inside: avoid;
}
figure img {
  max-width: 100%;
}

figcaption {
  font-size: 80%;
  width: 100%;
  text-align: center;
}

img + figcaption::before {
  content: "Screenshot - ";
}

table + figcaption {
  margin-top: 0.5rem;
}

table + figcaption::before {
  content: "Table - ";
}

pre + figcaption {
  margin-top: -0.5rem;
}

pre + figcaption::before {
  content: "Listing - ";
}

div.highlight + figcaption {
  margin-top: -0.5rem;
}

div.highlight + figcaption::before {
  content: "Listing - ";
}

code {
  font-family: Monospace;
  background-color: var(--color-background-code);
  font-size: 90%;
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0.35rem;
  padding-right: 0.35rem;
  border-radius: 0.2rem;
}

strong code {
  font-family: MonospaceBold;
}

pre {
  background-color: var(--color-background-code);
  box-sizing: border-box;
  padding: 1rem;
  line-height: 1rem;
  border-radius: 0.35rem;
  width: 100%;
  overflow: hidden;
}
pre code {
  padding: 0;
  font-size: 0.85rem;
}

ul {
  margin: 0;
  padding: 0;
  padding-left: 1.25rem;
  list-style-type: "â—  ";
}
ul li::marker {
  color: var(--color-primary);
  font-size: 0.65rem;
  line-height: 1.5rem;
  font-family: Monospace;
}

table {
  margin: auto;
  box-sizing: border-box;
  max-width: 100%;
  border-collapse: collapse;
  border: 1px solid;
  border-color: var(--color-text-default);
}
table th, table td {
  padding: 0.5rem;
  border: 1px solid;
}
table th {
  background-color: var(--color-primary-light);
}
table tr:nth-child(even) td {
  background-color: whitesmoke;
}

/* /project/mkdocs-docs/matrix/10-mkdocs-template-base/1050-admonition/print.scss */
div.admonition {
  border-left: solid 2px;
  border-left-color: var(--color-primary);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0;
  padding-bottom: 0;
  break-inside: avoid;
}
div.admonition p.admonition-title {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  font-family: SansSerifBold;
}
div.admonition p.admonition-title + * {
  margin-top: 0;
}
div.admonition p {
  text-align: justify;
}

div.admonition + div.admonition {
  margin-top: 0.5rem;
}

/* /project/mkdocs-docs/matrix/10-mkdocs-template-base/1060-pdf-bookmarks/print.scss */
h1, h2, h3, h4, h5, h6 {
  bookmark-level: none;
}

body {
  counter-reset: counterchapter;
}

#wmpr-pdf-structure-content .wpmr-pdf-structure-section:first-child {
  counter-increment: counterchapter;
  bookmark-label: counter(counterchapter) ". Introduction";
  bookmark-level: 1;
  counter-reset: countersection;
}

#wmpr-pdf-structure-content > .wpmr-pdf-structure-section h1 {
  counter-increment: countersection;
  bookmark-label: counter(counterchapter) "." counter(countersection) ". " content(text);
  bookmark-level: 2;
  counter-reset: countersubsection;
}
#wmpr-pdf-structure-content > .wpmr-pdf-structure-section h2 {
  counter-increment: countersubsection;
  bookmark-label: counter(counterchapter) "." counter(countersection) "." counter(countersubsection) ". " content(text);
  bookmark-level: 3;
}

.wpmr-pdf-structure-chapter h1 {
  counter-increment: counterchapter;
  bookmark-label: counter(counterchapter) ". " content(text);
  bookmark-level: 1;
  counter-reset: countersection;
}
.wpmr-pdf-structure-chapter .wpmr-pdf-page-section h1 {
  counter-increment: countersection;
  bookmark-label: counter(counterchapter) "." counter(countersection) ". " content(text);
  bookmark-level: 2;
  counter-reset: countersubsection;
}
.wpmr-pdf-structure-chapter .wpmr-pdf-page-section h2 {
  counter-increment: countersubsection;
  bookmark-label: counter(counterchapter) "." counter(countersection) "." counter(countersubsection) ". " content(text);
  bookmark-level: 3;
}

/* /project/mkdocs-docs/matrix/15-pymdownx/1300-colors/print.scss */
:root {
  --md-default-fg-color: hsla(0, 0%, 0%, 0.87);
  --md-default-fg-color--light: hsla(0, 0%, 0%, 0.54);
  --md-default-fg-color--lighter: hsla(0, 0%, 0%, 0.32);
  --md-default-fg-color--lightest: hsla(0, 0%, 0%, 0.07);
  --md-default-bg-color: hsla(0, 0%, 100%, 1);
  --md-default-bg-color--light: hsla(0, 0%, 100%, 0.7);
  --md-default-bg-color--lighter: hsla(0, 0%, 100%, 0.3);
  --md-default-bg-color--lightest: hsla(0, 0%, 100%, 0.12);
  --md-primary-fg-color: hsla(hex2hsl(#3f51b5), 1);
  --md-primary-fg-color--light: hsla(hex2hsl(#5c6bc0), 1);
  --md-primary-fg-color--dark: hsla(hex2hsl(#303f9f), 1);
  --md-primary-bg-color: hsla(0, 0%, 100%, 1);
  --md-primary-bg-color--light: hsla(0, 0%, 100%, 0.7);
  --md-accent-fg-color: hsla(hex2hsl(#536dfe), 1);
  --md-accent-fg-color--transparent: hsla(hex2hsl(#536dfe), 0.1);
  --md-accent-bg-color: hsla(0, 0%, 100%, 1);
  --md-accent-bg-color--light: hsla(0, 0%, 100%, 0.7);
  --md-code-fg-color: hsla(200, 18%, 26%, 1);
  --md-code-bg-color: hsla(0, 0%, 96%, 1);
  --md-code-hl-color: hsla(hex2hsl(#ffff00), 0.5);
  --md-code-hl-number-color: hsla(0, 67%, 50%, 1);
  --md-code-hl-special-color: hsla(340, 83%, 47%, 1);
  --md-code-hl-function-color: hsla(291, 45%, 50%, 1);
  --md-code-hl-constant-color: hsla(250, 63%, 60%, 1);
  --md-code-hl-keyword-color: hsla(219, 54%, 51%, 1);
  --md-code-hl-string-color: hsla(150, 63%, 30%, 1);
  --md-code-hl-name-color: var(--md-code-fg-color);
  --md-code-hl-operator-color: var(--md-default-fg-color--light);
  --md-code-hl-punctuation-color: var(--md-default-fg-color--light);
  --md-code-hl-comment-color: var(--md-default-fg-color--light);
  --md-code-hl-generic-color: var(--md-default-fg-color--light);
  --md-code-hl-variable-color: var(--md-default-fg-color--light);
  --md-typeset-color: var(--md-default-fg-color);
  --md-typeset-a-color: var(--md-primary-fg-color);
  --md-typeset-mark-color: hsla(hex2hsl(#ffff00), 0.5);
  --md-typeset-del-color: hsla(6, 90%, 60%, 0.15);
  --md-typeset-ins-color: hsla(150, 90%, 44%, 0.15);
  --md-typeset-kbd-color: hsla(0, 0%, 98%, 1);
  --md-typeset-kbd-accent-color: hsla(0, 100%, 100%, 1);
  --md-typeset-kbd-border-color: hsla(0, 0%, 72%, 1);
  --md-typeset-table-color: hsla(0, 0%, 0%, 0.12);
  --md-admonition-fg-color: var(--md-default-fg-color);
  --md-admonition-bg-color: var(--md-default-bg-color);
  --md-footer-fg-color: hsla(0, 0%, 100%, 1);
  --md-footer-fg-color--light: hsla(0, 0%, 100%, 0.7);
  --md-footer-fg-color--lighter: hsla(0, 0%, 100%, 0.3);
  --md-footer-bg-color: hsla(0, 0%, 0%, 0.87);
  --md-footer-bg-color--dark: hsla(0, 0%, 0%, 0.32);
}

/* /project/mkdocs-docs/matrix/15-pymdownx/1310-highlight/print.scss */
.highlight :is(.o, .ow) {
  color: var(--md-code-hl-operator-color);
}
.highlight .p {
  color: var(--md-code-hl-punctuation-color);
}
.highlight :is(.cpf, .l, .s, .sb, .sc, .s2, .si, .s1, .ss) {
  color: var(--md-code-hl-string-color);
}
.highlight :is(.cp, .se, .sh, .sr, .sx) {
  color: var(--md-code-hl-special-color);
}
.highlight :is(.m, .mb, .mf, .mh, .mi, .il, .mo) {
  color: var(--md-code-hl-number-color);
}
.highlight :is(.k, .kd, .kn, .kp, .kr, .kt) {
  color: var(--md-code-hl-keyword-color);
}
.highlight :is(.kc, .n) {
  color: var(--md-code-hl-name-color);
}
.highlight :is(.no, .nb, .bp) {
  color: var(--md-code-hl-constant-color);
}
.highlight :is(.nc, .ne, .nf, .nn) {
  color: var(--md-code-hl-function-color);
}
.highlight :is(.nd, .ni, .nl, .nt) {
  color: var(--md-code-hl-keyword-color);
}
.highlight :is(.c, .cm, .c1, .ch, .cs, .sd) {
  color: var(--md-code-hl-comment-color);
}
.highlight :is(.na, .nv, .vc, .vg, .vi) {
  color: var(--md-code-hl-variable-color);
}
.highlight :is(.ge, .gr, .gh, .go, .gp, .gs, .gu, .gt) {
  color: var(--md-code-hl-generic-color);
}
.highlight :is(.gd, .gi) {
  margin: 0 px2em(-2px);
  padding: 0 px2em(2px);
  border-radius: px2rem(2px);
}
.highlight .gd {
  background-color: var(--md-typeset-del-color);
}
.highlight .gi {
  background-color: var(--md-typeset-ins-color);
}
.highlight .hll {
  display: block;
  margin: 0 px2em(-16px, 13.6px);
  padding: 0 px2em(16px, 13.6px);
  background-color: var(--md-code-hl-color);
}
.highlight span.filename {
  position: relative;
  display: block;
  margin-top: 1em;
  padding: px2em(9px, 13.6px) px2em(16px, 13.6px);
  font-weight: 700;
  font-size: px2em(13.6px);
  background-color: var(--md-code-bg-color);
  border-bottom: px2rem(1px) solid var(--md-default-fg-color--lightest);
  border-top-left-radius: px2rem(2px);
  border-top-right-radius: px2rem(2px);
}
.highlight span.filename + pre {
  margin-top: 0;
}
.highlight span.filename + pre > code {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.highlight [data-linenos]::before {
  position: sticky;
  left: px2em(-16px, 13.6px);
  z-index: 3;
  float: left;
  margin-right: px2em(16px, 13.6px);
  margin-left: px2em(-16px, 13.6px);
  padding-left: px2em(16px, 13.6px);
  color: var(--md-default-fg-color--light);
  background-color: var(--md-code-bg-color);
  box-shadow: px2rem(-1px) 0 var(--md-default-fg-color--lightest) inset;
  content: attr(data-linenos);
  user-select: none;
}
.highlight code a[id] {
  position: absolute;
  visibility: hidden;
}
.highlight code[data-md-copying] .hll {
  display: contents;
}
.highlight code[data-md-copying] .md-annotation {
  display: none;
}

.highlighttable {
  display: flow-root;
}
.highlighttable :is(tbody, td) {
  display: block;
  padding: 0;
}
.highlighttable tr {
  display: flex;
}
.highlighttable pre {
  margin: 0;
}
.highlighttable th.filename {
  flex-grow: 1;
  padding: 0;
  text-align: left;
}
.highlighttable .linenos {
  padding: px2em(10.5px, 13.6px) px2em(16px, 13.6px);
  padding-right: 0;
  font-size: px2em(13.6px);
  background-color: var(--md-code-bg-color);
  border-top-left-radius: px2rem(2px);
  border-bottom-left-radius: px2rem(2px);
  user-select: none;
}
.highlighttable .linenodiv {
  padding-right: px2em(8px, 13.6px);
  box-shadow: px2rem(-1px) 0 var(--md-default-fg-color--lightest) inset;
}
.highlighttable .linenodiv pre {
  color: var(--md-default-fg-color--light);
  text-align: right;
}
.highlighttable .code {
  flex: 1;
  min-width: 0;
}

.linenodiv a {
  color: inherit;
}

.md-typeset .highlighttable {
  margin: 1em 0;
  direction: ltr;
}
.md-typeset .highlighttable code {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.md-typeset :is(.highlight, .highlighttable) + .result {
  margin-top: calc(-1em + px2em(-2px));
  padding: 0 px2em(16px);
  overflow: visible;
  border: px2rem(1px) solid var(--md-code-bg-color);
  border-top-width: px2rem(2px);
  border-bottom-right-radius: px2rem(2px);
  border-bottom-left-radius: px2rem(2px);
}
.md-typeset :is(.highlight, .highlighttable) + .result::after {
  display: block;
  clear: both;
  content: "";
}

/* /project/mkdocs-docs/matrix/10-mkdocs-template-base/5100-cover/print.scss */
#wpmr-pdf-page-cover {
  break-after: always;
}

#wpmr-pdf-page-last {
  break-before: right;
}

#wpmr-pdf-page-cover, #wpmr-pdf-page-last {
  page: cover-last;
}
#wpmr-pdf-page-cover div, #wpmr-pdf-page-last div {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -2cm;
  left: -2cm;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
#wpmr-pdf-page-cover div h1, #wpmr-pdf-page-last div h1 {
  display: block;
  color: white;
  font-size: 34pt;
  text-align: center;
  margin: 0;
  padding: 10pt;
  width: 100%;
  font-family: SansSerifBold;
}

@page cover-last {
  background-color: var(--color-primary-dark);
  @top-right {
    content: none;
  }
  @top-center {
    content: none;
  }
  @top-left {
    content: none;
  }
  @bottom-left {
    content: none;
  }
  @bottom-center {
    content: none;
  }
  @bottom-right {
    content: none;
  }
}
/* /project/mkdocs-docs/matrix/10-mkdocs-template-base/1010-root-variables/print.scss */
/* /project/mkdocs-docs/matrix/10-mkdocs-template-base/1020-fonts/print.scss */
/* /project/mkdocs-docs/matrix/10-mkdocs-template-base/1030-pages/print.scss */
/* /project/mkdocs-docs/matrix/10-mkdocs-template-base/1040-structure-heading/print.scss */
/* /project/mkdocs-docs/matrix/10-mkdocs-template-base/1045-content/print.scss */
/* /project/mkdocs-docs/matrix/10-mkdocs-template-base/1050-admonition/print.scss */
/* /project/mkdocs-docs/matrix/10-mkdocs-template-base/1060-pdf-bookmarks/print.scss */
/* /project/mkdocs-docs/matrix/15-pymdownx/1300-colors/print.scss */
/* /project/mkdocs-docs/matrix/15-pymdownx/1310-highlight/print.scss */
/* /project/mkdocs-docs/matrix/10-mkdocs-template-base/5100-cover/print.scss */
