#fc-pdf-content .fc-pdf-chapter > h1 {
    page: chapter;
    string-set: chapter-title content();

    background-color: var(--color-primary-dark);
    color: var(--color-text-on-primary);
    font-size: 34pt;
    text-align: center;
    padding: 10pt;
    width: 100%;
    font-family: SansSerifBold;

    position: relative;
    top: 10cm;
}

@page chapter {
    margin: 0;
    @top-right {
        content: none;
      }
      @top-center {
        content: none;
      }
      @top-left {
        content: none;
      }
      @bottom-left {
        content: none;
      }
      @bottom-center {
        content: none;
      }
      @bottom-right {
        content: none;
      }
}