div.admonition {
    border-left: solid 2px;
    border-left-color: var(--color-primary);
    //border-bottom: solid 1px;
    //border-bottom-color: var(--color-primary);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0;
    padding-bottom: 0;
    break-inside: avoid;
    // background-color: var(--color-background-code);
    p.admonition-title {
        margin-top: 0.5rem;
        margin-bottom: 0.25rem;
        font-family: SansSerifBold;
        //text-align: left;
    }
    p.admonition-title + * {
        margin-top: 0;
    }
    p {
        text-align: justify;
    }
}

div.admonition + div.admonition {
    margin-top: 0.5rem;
}