.pdf-section {
    ul {
        list-style-type: "●  ";
        li::marker {
            font-size: 0.65rem;
            line-height: 1.5rem;
            font-family: Monospace;
        }
    }

    ul, ol {
        margin: 0;
        padding: 0;
        padding-left: 1.25rem;
        li::marker {
            color: var(--color-primary);
        }
    }

    dt {
        font-family: SansSerifBold;
        code {
            font-family: MonospaceBold;
        }
    }

    dt::before {
        content: "■ ";
        font-family: Monospace;
        color: var(--color-primary);
    }
}