@use "print512" as page;
// WP 54.2 :
//  background-position: center bottom var(--page-margin); no error but no bottom;

@page {
    size: letter !important;
    background-color: whitesmoke !important;
}

@mixin bottom-logo {
    background-image: url('../assets/offsec-logo-00.svg');
    background-repeat: no-repeat;
    background-position: center bottom page.$margin; 
}
  
@page chapter{
    background-color: lightgrey !important;
    @include bottom-logo;
}

@page cover {
    background-color: black !important;
    @include bottom-logo;
}

@page last {
    background-image: url('../assets/offsec-logo-00.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black !important;
}

// WP 54.2 :
//  background-position: center bottom var(--page-margin); no error but no bottom;
// [WARNING] Ignored `background-position-x: center` at 882:3, unknown property.
// [WARNING] Ignored `background-position-y: bottom var(--page-margin)` at 883:3, unknown property.
// [WARNING] Ignored `background-position-x: center` at 889:3, unknown property.
// [WARNING] Ignored `background-position-y: bottom var(--page-margin)` at 890:3, unknown property.