#pdf-page-cover {
  break-after: always;
}
#pdf-page-last {
  break-before: always;
}
#pdf-page-cover, #pdf-page-last{
    page: cover-last;
    > div {
        position: absolute;
        top: -2.5cm;
        bottom: var(--page-margin-negative);
        right: var(--page-margin-negative);
        left: var(--page-margin-negative);
        margin: 0;
        padding: 0;
        color: var(--color-text-on-primary);
        background-color: var(--color-primary-dark);
        font-family: SansSerifBold;
        h1 {
            position: absolute;
            top: 6cm;
            font-size: 40pt;
            text-align: center;
            padding-top: 10pt;
            padding-bottom: 10pt;
            width: 100%;
        }
        h2 {
          position: absolute;
          top: 12cm;
          font-size: 30pt;
          text-align: center;
          padding-top: 10pt;
          padding-bottom: 10pt;
          width: 100%;
        }
        h3 {
          position: absolute;
          bottom: var(--page-margin);
          right: var(--page-margin);
          font-size: 20pt;
          text-align: right;
          padding: 0pt;
          width: auto;
          font-family: SansSerifBold;
      }
    }
}

@page cover-last {
    
    @top-right {
        content: none;
      }
      @top-center {
        content: none;
      }
      @top-left {
        content: none;
      }
      @bottom-left {
        content: none;
      }
      @bottom-center {
        content: none;
      }
      @bottom-right {
        content: none;
      }
}
