#wpmr-pdf-page-cover {
  break-after: always;
}
#wpmr-pdf-page-last {
  break-before: always;
}
#wpmr-pdf-page-cover, #wpmr-pdf-page-last{
    page: cover-last;
    div {
        position: absolute;
        top: 0;
        bottom: 0;
        right: -2cm;
        left: -2cm;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        h1 {
            display: block;
            //background-color: var(--color-primary);
            color: white;
            font-size: 34pt;
            text-align: center;
            margin: 0;
            padding: 10pt;
            width: 100%;
            font-family: SansSerifBold;
        }
    }
}

@page cover-last {
    background-color: var(--color-primary-dark);
    @top-right {
        content: none;
      }
      @top-center {
        content: none;
      }
      @top-left {
        content: none;
      }
      @bottom-left {
        content: none;
      }
      @bottom-center {
        content: none;
      }
      @bottom-right {
        content: none;
      }
}
