@page section{
  size: A4;
  margin: 2cm;
  margin-top: 2.5cm;

  @top-left {
    content: '';
  }
  @top-center {
    content: string(section-title);
  }
  @top-right {
    content: '';
  }
}

.pdf-section {
  page-break-before: always;
}

.pdf-section {
  page: section;
}