#pdf-content {
    counter-reset: section-counter;
    .pdf-section {
        h1 {
            counter-increment: section-counter;
            bookmark-label: counter(section-counter) ". " content(text);
            bookmark-level: 1;
            counter-reset: subsection-counter;
        }
        h2 {
            counter-increment: subsection-counter;
            bookmark-label: counter(section-counter) "." counter(subsection-counter)". " content(text);
            bookmark-level: 2;
            counter-reset: subsubsection-counter;
        }
        h3 {
            counter-increment: subsubsection-counter;
            bookmark-label: counter(section-counter) "." counter(subsection-counter)  "." counter(subsubsection-counter) ". " content(text);
            bookmark-level: 3;
        }
    }
}
