h1, h2, h3, h4, h5, h6 {
    bookmark-level: none;
}

.pdf-section {
    h1, h2 {
        bookmark-label: content(text);
    }

    h1 {
        bookmark-level: 1;
    }

    h2 {
        bookmark-level: 2;
    }

    figure > figcaption {
        bookmark-label: Figure - content(text);
        bookmark-level: 2;
    }
}