.fc-pdf-section {

    .highlight { 
        .hll {
            background-color: transparent !important;
            font-family: MonospaceBold !important;
            color: var(--color-primary) !important;
            * {
                color: var(--color-primary) !important;
            }
        }
    };

}
