h1, h2, h3, h4, h5, h6 {
    bookmark-level: none;
}

#pdf-content {
    counter-reset: section-counter;
    .pdf-section {
        h1 {
            counter-increment: section-counter;
            bookmark-label: counter(section-counter) ". " content(text);
            bookmark-level: 1;
            counter-reset: subsection-counter;
        }
        h1::before {
            content: counter(section-counter) ". ";
        }
        h2 {
            counter-increment: subsection-counter;
            bookmark-label: counter(section-counter) "." counter(subsection-counter)". " content(text);
            bookmark-level: 2;
        }
        h2::before {
            content: counter(section-counter)  "." counter(subsection-counter) ". ";
        }
    }
}

    // h2 {
    //     bookmark-label: content(text) ' [Subsection]';
    //     bookmark-level: 2;
    // }

    // figure > figcaption {
    //     bookmark-label: content(text) ' [Figure]';
    //     bookmark-level: 2;
    // }

    // table + figcaption {
    //     bookmark-label: content(text) ' [Table]';
    //     bookmark-level: 2;
    // }

    // pre + figcaption {
    //     bookmark-label: content(text) ' [Listing]';
    //     bookmark-level: 2;
    // }
