$data-oscp-id: "OSID: 271828";

:root {
    --page-cover-subtitle: "Penetration Test Report for Internal Lab";
    --data-oscp-email: "marry.poppins@pltravers.writer";
    --data-oscp-osid: "#{$data-oscp-id}";
}
