$chapter-number: counter(chapter-counter) ". ";
$section-number: counter(chapter-counter) "." counter(section-counter) ". ";
$subsection-number: counter(chapter-counter) "." counter(section-counter) "." counter(subsection-counter) ". ";
$subsubsection-number: counter(chapter-counter) "." counter(section-counter) "." counter(subsection-counter) "." counter(subsubsection-counter) ". "; 

#pdf-content {

    counter-reset: chapter-counter;

    // sections without chapter at the beginning
    // => fake chapter
    .pdf-section:first-child { 
        counter-increment: chapter-counter;
        bookmark-label: $chapter-number "Introduction";
        bookmark-level: 1;
        counter-reset: section-counter;
    }

    .pdf-section {
        h1 {
            counter-increment: section-counter;
            bookmark-label: $section-number content(text);
            bookmark-level: 2;
            counter-reset: subsection-counter;
        }
        h2 {
            counter-increment: subsection-counter;
            bookmark-label:  $subsection-number content(text);
            bookmark-level: 3;
            counter-reset: subsubsection-counter;
        }
        h3 {
            counter-increment: subsubsection-counter;
            bookmark-label: $subsubsection-number content(text);
            bookmark-level: 4;
        }
    }

    .pdf-chapter {
        .pdf-chapter-page span::before {
            content: counter(chapter-counter) ". ";
        }
        .pdf-chapter-page span {
            counter-increment: chapter-counter;
            bookmark-label: $chapter-number content(text);
            bookmark-level: 1;
        }
        counter-reset: section-counter; 
        .pdf-section  {

            h1 {
                counter-increment: section-counter;
                bookmark-label: $section-number content(text);
                bookmark-level: 2;
                counter-reset: subsection-counter;
            }

            h2 {
                counter-increment: subsection-counter;
                bookmark-label: $subsection-number content(text);
                bookmark-level: 3;
                counter-reset: subsubsection-counter;
            }

            h3 {
                counter-increment: subsubsection-counter;
                bookmark-label: $subsubsection-number content(text);
                bookmark-level: 4;
            }
        }
    }
}

#pdf-content {
    .pdf-section {
        h1::before {
            content: $section-number;
        }
        h2::before {
            content: $subsection-number;
        }
        h3::before {
            content: $subsubsection-number;
        }
    }
}