@use "print1091.scss" as c; // counter

#fc-pdf-content {
   
    .fc-pdf-section.introductory {
        h1 { 
            bookmark-label: content(text);
            bookmark-level: 1;
        }
        h2 {
            bookmark-label: content(text);
            bookmark-level: 2;
        }
        h3 {
            bookmark-label: content(text);
            bookmark-level: 3;
        }
    }

    //counter-reset: chapter-counter;
    counter-increment: chapter-counter 0;

    .fc-pdf-chapter {
        > h1::before {
            content: c.$chapter-number;
        }
        > h1 {
            counter-increment: chapter-counter;
            bookmark-label: c.$chapter-number content(text);
            bookmark-level: 1;
        }
        counter-reset: section-counter; 
        .fc-pdf-section.chaptered  {

            h1 {
                counter-increment: section-counter;
                bookmark-label: c.$section-number content(text);
                bookmark-level: 2;
                counter-reset: subsection-counter;
            }

            h2 {
                counter-increment: subsection-counter;
                bookmark-label: c.$subsection-number content(text);
                bookmark-level: 3;
                counter-reset: subsubsection-counter;
            }

            h3 {
                counter-increment: subsubsection-counter;
                bookmark-label: c.$subsubsection-number content(text);
                bookmark-level: 4;
            }
        }
    }
}

#fc-pdf-content {
    .fc-pdf-section.chaptered {
        h1::before {
            content: c.$section-number;
        }
        h2::before {
            content: c.$subsection-number;
        }
        h3::before {
            content: c.$subsubsection-number;
        }
    }
}