.fc-pdf-section {

    .highlight { 
        border-radius: var(--block-border-radius);
        > pre > code {
            white-space: pre-wrap;
        }
    }

    .highlighttable {
            margin-left: 0;
            width: 100%;
            border: none;
            //display: block;
            break-inside: avoid;
        
            overflow: hidden;
            background-color: var(--color-background-code);
            border-radius: var(--block-border-radius);

            td {
                border: none;
                padding: 0;
                margin: 0;
                background-color: transparent;
                pre {
                    margin-top: 0;
                    border-radius: 0 !important;
                    background-color: transparent;
                }
            }

            td.linenos {
                width: 3rem;
                pre {
                    display: inline-block;
                    box-sizing: border-box;
                    font-size: 0.75rem;
                    padding: 1rem;
                    padding-right: 0.5rem;
                    text-align: right;
                    span.normal {
                        display: inline-block;
                        border-right: solid 1px silver;
                        padding-right: 0.5rem;
                    }
                }
            }

            td.code {
                border-radius: 0 !important;
                overflow: hidden;
                .highlight { 
                    // FC must be "absolute" !!
                    width: var(--code-block-numbered-line-code-width);
                    background-color: transparent !important;
                    border-radius: 0 !important;
                    overflow: hidden;
                    pre {
                        padding: 0;
                        margin: 0;
                        display: block;
                        background-color: transparent !important;
                        border-radius: 0 !important;
                        code {
                            display: block;
                            padding: 0;
                            margin-left: 0;
                            margin-right: 0;
                            white-space: pre;
                            background-color: transparent !important;
                            border-radius: 0 !important;
                        }                    
                    }
                }
            }
    }

}

